body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header {
    border: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07em;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

h2,
h3 {
    color: #2E2F42;
    margin: 0;
}

.strategy,
.team,
.portfolio {
    padding: 120px 0;
}

.strategy-main-title,
.team-main-title,
.portfolio-main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.strategy-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.strategy-svg-box {
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    padding: 24px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
}

.strategy-title,
.portfolio-project {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 8px;
}

.strategy-title {
    margin-top: 8px;
}

.strategy-description,
.team-card-job,
.portfolio-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}

.team-card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px;
}

p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1em;
}

button {
    font-weight: 500;
    cursor: pointer;
}

.main-logo,
.bottom-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.main-logo {
    color: #4d5ae5;
    margin-right: 76px;
}

.main-logo-studio {
    color: #2e2f42;
}

.bottom-webstudio {
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.bottom-logo-studio {
    color: #F4F4FD;
}

.main-nav {
    font-weight: 500;
}

.contacts {
    font-style: normal;
}

.main-nav-item:hover,
.contacts-link-item:hover,
.main-nav-item:focus,
.contacts-link-item:focus {
    color: #404BBF;
}

.contacts-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blue-line::after {
    content: "";
    display: block;
    background-color: #404BBF;
    position: absolute;
    width: 48px;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}

.contacts-link-item:not(:last-child) {
    margin-right: 40px;
}

.main-nav-item {
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blue-line {
    color: #404BBF;
}

.main-nav-item:active {
    text-decoration: underline;
}

.solutions {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    height: 600px;
    padding: 188px 0;
    margin: 0 auto;
}

.solutions .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solutions-order {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-order:hover,
.solutions-order:focus {
    background-color: #404BBF;
}

.team {
    background-color: #F4F4FD;
}

.team-card {
    background-color: #FFFFFF;
    text-align: center;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card-container {
    padding: 32px 0;
}

.team-socials-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-socials-item {
    width: 40px;
    height: 40px;
}

.team-socials-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
    background-color: #404bbf;
}

.socials-svg {
    fill: #f4f4fd;
}

footer {
    background-color: #2E2F42;
}

.bottom-description {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    font-size: 16px;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.main-nav,
.contacts-list,
header .container,
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    margin-top: 0;
    margin-bottom: 0;
}

.main-nav li:not(:last-child),
.contacts-list li:not(:last-child) {
    margin-right: 40px;
}

.main-nav:last-child {
    margin-right: 0;
}

.strategy-list,
.team-list,
.portfolio-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
}

.portfolio-list {
    flex-wrap: wrap;
    row-gap: 48px;
    margin-bottom: 0;
}

.portfolio {
    padding-bottom: 120px;
}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-hover {
    position: relative;
    overflow: hidden;
}

.text-hover {
    position: absolute;
    top: 0;
    background-color: #4D5AE5;
    height: 100%;
    transform: translateY(100%);
    color: #F4F4FD;
    font-size: 16px;
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .text-hover {
    transform: translate(0%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-project {
    padding: 0 16px;
    margin-bottom: 8px;
}

.portfolio-description {
    padding: 0 16px;
}

.bottom-section {
    padding: 100px 0;
}

.bottom-container {
    display: flex;
    align-items: baseline;
}

.bottom-webstudio-box {
    margin-right: 120px;
}

.bottom-socials {
    margin-right: 80px;
}

.bottom-socials-text,
.bottom-form-text {
    color: #ffffff;
    font-size: 16px;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.bottom-socials-list {
    display: flex;
    gap: 16px;
}

.socials-list-item {
    width: 40px;
    height: 40px;
}

.bottom-socials-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-socials-link:hover,
.bottom-socials-link:focus {
    background-color: #31d0aa;
}

.bottom-socials-svg {
    fill: #f4f4fd;
}

/* FORM START */

.bottom-form {
    display: flex;
    gap: 24px;
    align-items: flex-end;
}

.bottom-form-text {
    margin-bottom: 16px;
}

.bottom-form-email {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding: 8px 16px;
}

.bottom-form-email::placeholder {
    color: #ffffff;
}


.bottom-form-button {
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 4px;
    background-color: #4D5AE5;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.form-button-img {
    margin-left: 16px;
}

/* FORM END */

/* MODAL START */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-close-btn,
.modal-button:focus .modal-close-btn {
    fill: #ffffff;
}

.modal-title {
    text-align: center;
    max-width: 360px;
    margin-bottom: 16px;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    font-size: 12px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus::placeholder {
    color: #4D5AE5;
}

.modal-input:focus+.modal-icon {
    stroke: #4D5AE5;
}

.modal-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-form-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-form-svg {
    fill: #4D5AE5;
}

.modal-text {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
    border-color: #4D5AE5;
}

.comment-box {
    margin-bottom: 16px;
}

.privacy-wrap {
    margin-bottom: 24px;
}

.check-text {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    align-items: center;
    position: relative;
}

.check-text-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked+.check-text>.check-text-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.check-text-link {
    color: #4D5AE5;
    text-decoration: underline;
}

.modal-form-button {
    min-width: 169px;
    padding: 16px 32px;
    margin: 0 auto;
    border: transparent;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MODAL END */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}